streamlit
python-dotenv
surrealdb>=0.4.0
langchain
langgraph
crawl4ai
requests
fastapi
uvicorn
streamlit-agraph
youtube-transcript-api
python-docx
markdown
WeasyPrint
beautifulsoup4
openpyxl
PyPDF2
streamlit-antd-components
streamlit-extras
streamlit-option-menu
streamlit-quill
streamlit-shadcn-ui
streamlit-scrollable-textbox
streamlit_js_eval
httpx 
langchain-unstructured
torch
torchaudio
torchvision